.verses {
  // background-color: rgb(186, 186, 247);
  display: flex;
  flex-direction: column;
  height: 100%;

  .first {
    height: 2vw;
    background: #b2efd8;
    text-align: center;
    font-size: 2vw;
    margin: 10px 5px 0 10px;
    padding-bottom: 10px;
  }

  .second {
    flex-grow: 1;
    margin: 0 5px 10px 10px;
    overflow: auto;
  }
}