.book {
  background-color: #fbeeff;
  color: #000;
  border: 0.5px solid gainsboro;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .abbreviation {
    font-size: 1.5vw;
  }

  .label {
    padding-top: 5px;
    font-size: 0.7vw;
  }

}

.pentateuch {
  background-color: rgba(165, 42, 42, 0.699);

  &:hover {
    filter: brightness(80%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.historical {
  background-color: #e08b63;

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.poetic {
  background-color: #FFD700;

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.prophetic {
  background-color: rgb(59, 255, 59);

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.gospels {
  background-color: rgb(255, 255, 73);

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.facts {
  background-color: #2e90fa;

  &:hover {
    filter: brightness(80%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.letters {
  background-color: rgb(6, 238, 238);

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: 0.4s;
  }
}

.revelations {
  background-color: rgb(255, 89, 59);

  &:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: 0.4s;
  }
}