.book {
  background-color: #fbeeff;
  color: #000;
  border: 0.5px solid gainsboro;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .abbreviation {
    font-size: 1.5vw;
  }

  .label {
    padding-top: 5px;
    font-size: 0.7vw;
  }

}

.pentateuch {
  background-color: yellow;
}

.historical {
  background-color: blue;
}

.poetic {
  background-color: red;
}

.prophetic {
  background-color: green;
  background-color: sk
}

.gospels {
  background-color: pink;
}

.facts {
  background-color: tomato;
}

.letters {
  background-color: aqua;
}

.revelations {
  background-color: skyblue;
}